/* Navbar.css */
.navbar {
  background-color: darkkhaki;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a.active-link {
  color: #ffdd57; /* Highlight color */
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 0.8rem;
  }
}
.page{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.page h1{
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.page h2{
  font-size: 3rem;
  line-height: 1.5;
}